details {
    background-color: rgb(48, 128, 55);
}

.principal{
    background-color: chocolate;
}

.parrafoResaltado {
    font-size: 24px;
    padding: 40px;
    border-radius: 10px;
    background-color: coral;
    margin: 20px;
}

#parrafoEspecial {
    background-color: cornflowerblue;
    border-radius: 80px;
    padding: 50px;
}
#parrafoEspecial:hover{
    background-color: blueviolet;
}
p:hover {
    text-decoration: underline;
    transform: scale(120%);
}